/* Importing a Google Font */


@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Poppins', sans-serif;
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
	font-family: 'Cinzel', serif;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.carousel-caption {
	font-family: 'Cinzel', serif;
}
.container-fluid {
	height: 500;
	background-color: black;
}

.values-section {
margin-top: 100px;
}
.fnt-Cinzel {
	font-family: 'Cinzel', serif;
}
.fnt-Poppins {
	font-family: 'Poppins', sans-serif;
}
.perfume-scent {
	font-size: 200%;
}
.perfume-name {
	font-size: 300%;
}


.responsive {
  width: 100%;
  height: auto;
}
.space-little {
	margin-top: 50px;
}
.button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 16px;
transition-duration: 0.4s;

}
.button:hover {
  background-color: #000000; 
  color:#FFFFFF;
}

.space-vision {
	padding-right: 300px;
	padding-left: 300px;
}
.space-team {
	padding-right: 300px;
	padding-left: 300px;
	padding-bottom: 50px;
}
.zoom {
  
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
