/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
	font-family: 'Cinzel', serif;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.carousel-caption {
	font-family: 'Cinzel', serif;
}
.container-fluid {
	height: 500;
	background-color: black;
}

.values-section {
margin-top: 120px;
}
.fnt-Cinzel {
	font-family: Cinzel;
}
.img-values {
	margin-bottom: 40px;
}
.fnt-Poppins {
	font-family:'Poppins', sans-serif;
}
	