/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
	font-family: 'Cinzel', serif;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.carousel-caption {
	font-family: 'Cinzel', serif;
}
.btn {
	border:none;
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
